/*===== GENERELLA =====*/
body {
    background-color:#006C8D;
    margin:0 auto;
    font-family:Tahoma;
}


a.nav_links{
    color:#384245;
    font-size:28px;
    text-decoration-line:none;
}
a.nav_links:hover{
    color:#8F9496;
    border-bottom: 1px solid grey;
    border-top:1px solid grey;
    padding-bottom:5px;
}

footer{
    clear:both;
    text-align:center;
    border-top:5px groove black;
    padding-bottom:0.5%;
}


/*===== CONTENT PAGES =====*/
h1{
    color:red;
}
.all_contents{
    background-color:purple;
}

/*testar_divs{
    background-color:yellow;
}*/



/*===== KLASSER =====*/
.wrapper{
    background-color:#E5F0F3;
    max-width:90%;
    min-width:280px;
    margin: 0 auto;
}


                        /*GRUND
                        .top_header{
                            color:#384245;
                            float:left;
                            padding-left:1%;
                            font-size:250%;
                             text-decoration-line:none;
                        }*/



                        /*TESTAR NYTT*/
                        .the_header{
                            color:#384245;
                            float:left;
                            padding-left:1%;
                            font-size:190%;
                            text-decoration-line:none;
                        }

.nav_head{
    padding-bottom:4%;
    border-bottom:5px groove black;
}

.nav_list{
    margin-top:0;
    padding-top:2%;
    padding-right:1%;
    padding-bottom:0%;
    padding-left:1%;
}

ul.nav_list li{
    display:inline;
    /*list-style-type:circle;*/
}

.ddl{
    float:left;
    padding-left:1%;
}


.clearfix{
    overflow:auto;
    /*border:1px solid brown;*/   /*TA BORT RAD*/
}



/*===== ID =====*/

#bodyn{
    background-color:red;
}

#login{
    float:right;
}




/*===== MEDIA =====*/

/*=== TABLET ===*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
       only screen and (max-width:800px){

        .wrapper{
            max-width:100%;
        }

        .nav_head{
            padding-bottom:6%;
        }

        #login{
            padding-right:1%;
        }
}


/*=== MOBIL ===*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
       only screen and (max-width:500px){

    .the_header{
        width:100%;
        font-size:170%;
        /*border:1px solid red;*/   /*TA BORT RAD*/
        text-align:center;
        margin:0 auto;
        padding-left: 0%;
        border-bottom: 2px solid grey;

    }

    .header_class{
        float:none;
        padding:0;

    }

    .nav_head{
        padding-bottom:8%;
    }

    #login{
        padding-right:0%;
    }
}



@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
       only screen and (max-width:384px){

    .wrapper{
        background-color:#E5F0F3;
        max-width:100%;
        margin: 0 auto;
    }

    .top_header{            /*the_header || top_header*/
        color:#384245;
        float:none;
        margin:0 auto;
        padding-left:1%;
        font-size:190%;
    }

    #login{
        float:none;
    }

    .nav_head{
        text-align:center;
        padding-bottom:10%;
    }

    ul.nav_list li {
        display: block;
    }

    .ddl
    {
        float:none;
    }
}


/*@media	only screen and (-webkit-min-device-pixel-ratio: 1.3),
	only screen and (-o-min-device-pixel-ratio: 13/10),
	only screen and (min-resolution: 120dpi)/*Min skärm är 96dpi
	{
		body{
            background-color:green;
		}
	}
*/   





    /*OM SKÄRMEN ÄR MINST 640px BRED OCH DPI ÄR MINST 326*/
/*@media only screen and (min-width: 640px) and (min-resolution: 326dpi){
    body{
        background-color:yellow;
    }
}*/
