/*===== SCROLL =====*/
.tabFixRel {
  table-layout: fixed; 
  width: auto;
  *margin-left: -100px;/*ie7*/
  
}
.relColumns, .fixColumns {
  vertical-align: middle;
  border-top: 1px solid #ccc;
  padding:2px;
  width:auto;
  text-align: center;
}
.fixColumns {
  position:absolute;
  *position: relative; /*ie7*/
  left:0; 
  width:auto;
  line-break: auto;
  min-width: 100px;
  width:auto;
  /*margin-right:20%;*/
}

/*.relColumns{
    width:100%;
}*/


.outer {
    /*position: absolute;*/
    /*float: right;*/
    width: 100%;
    display: block;

}
.inner {
  overflow-x:scroll;
  overflow-y:visible;
  width:auto; 
  margin-left:120px;
}
.stats_div
{
    position: relative;
    float: left;
    width: 90%;
    height: auto;
}







/*===== GENERELLA =====*/
body {
    background-image:url("/pictures/fncd0wql-jpg.jpg");
    background-repeat: repeat;
    /*background-color:#006C8D;*/
    margin:0 auto;
    font-family:Tahoma;
}

h1{
    margin:0;
}

p{
    margin:0;
}

a.nav_links{
    color:#384245;
    font-size:28px;
    text-decoration-line:none;

    padding-right:1%;
    border-right:1px solid black;
}
a.nav_links:hover{
    color:#8F9496;
    border-bottom: 1px solid grey;
    border-top:1px solid grey;
    padding-bottom:5px;

    border-right:none;
}

footer{
    background-color:#ffffff;
    clear:both;
    text-align:center;
    /*border-top:5px groove black;*/
    padding-bottom:1%;
    padding-top:1%;
    font-size:90%;
    /*box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.4);*/
}





/*===== CONTENT PAGES =====*/
h1{
    color:#384245;
}

.all_contents{
    background-color:#ffffff;
    padding-top:2%;
    padding-bottom:2%;
    width:92%;
    padding-left:4%;
    padding-right:4%;
    margin: 0 auto;
    font-size:90%;
    height:100%;
    /*box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.4);*/
}

.center_login{
    width:50%;
    margin:0 auto;
    clear:both;
    padding-right:4%;
    padding-top:2%;
    padding-bottom:2%;
    text-align:center;
}




/*===== KLASSER =====*/
.wrapper{
    opacity:1.0;
    /*background-color:#ffffff;*/
    /*background-color:#E3E8EF;*/
    /*background-color:#E5F0F3;*/
    max-width:1280px; /*Sätter ett maxvärde på wrappern (allt innehåll) här för att den inte ska breda ut sig om man har gigantisk skärm. */ 
    /*max-width:90%;*/ /*max-width:90% sätts som en media query istället när webbläsarfönstret är max 1400px;*/
    min-width:280px;
    margin: 0 auto;
}


.the_header{
    width:99%;
    background-color:#ffffff;
    color:#384245;
    float:left;
    padding-left:1%;
    /*font-size:190%;    STÄLLER IN FONT-SIZE i span-klasserna JE och -banken*/
    text-decoration-line:none;
                              
}


.shadow{
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.4);
    margin-bottom:14.4px;
}


.no_margin_bottom{
    margin-bottom:0;
}


.JE{
    color:cornflowerblue;
    font-size:190%;
}

.bindestreck{
    color:#b5b9bf;
    font-size:150%
}

.the_B{
    color:#b5b9bf;
    font-size:190%;
}

.banken{
    color:#b5b9bf;
    font-size:150%;
}

.nav_head{
    padding-bottom:1%;
    background-color:#ffffff;
    /*box-shadow: 0px 0px 10px black;*/
    /*border-bottom:5px groove black;*/
}

.nav_list{
    margin-top:0;
    padding-top:2%;
    padding-right:1%;
    padding-bottom:0%;
    padding-left:1%;
}

ul.nav_list li{
    display:inline;
    /*list-style-type:circle;*/
}

.ddl{
    float:left;
    padding-left:1%;
}


.clearfix{
    overflow:auto;
    /*border:1px solid brown;*/   /*TA BORT RAD*/
}


.gvPrevious{
    float:left;
    padding-right:7%;
}

.gvUpcoming{
    float:left;
}

.gvS{
    float:left;
    /*overflow-x:auto;
    max-width:360px;*/
}

.lblAdmin{
    font-size:170%;
    color:#384245;
    font-weight:normal;
}

.lblLogIn{
    font-size:170%;
    color:#384245;
    font-weight:normal;
}


/*===== KNAPPAR =====*/

.btn {
    background-image: -webkit-linear-gradient(top, #6495ED, #2980b9);
    background-image: -moz-linear-gradient(top, #6495ED, #2980b9);
    background-image: -ms-linear-gradient(top, #6495ED, #2980b9);
    background-image: -o-linear-gradient(top, #6495ED, #2980b9);
    background-image: linear-gradient(to bottom, #6495ED, #2980b9);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: Arial;
    /* color: #ffffff;*/
    color: white;
    font-size: 20px;
    padding: 2px 5px 2px 5px;
    text-decoration: none;
    box-shadow: 1px 2px 5px #888888;
    -webkit-transition: background-image 2.2s ease-in-out;
    transition: background-image 2.2s ease-in-out;
}

.btn-succes {
    background-image: -webkit-linear-gradient(top, #6F9A15, #607f25);
    background-image: -moz-linear-gradient(top, #6F9A15, #607f25);
    background-image: -ms-linear-gradient(top, #6F9A15, #607f25);
    background-image: -o-linear-gradient(top, #6F9A15, #607f25);
    background-image: linear-gradient(to bottom, #6F9A15, #607f25);  
}

.btn:hover {
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    box-shadow: 1px 2px 5px #888888;
}

.btn-succes:hover{
    background-image: -webkit-linear-gradient(top, #6C9A14, #607f25);
    background-image: -moz-linear-gradient(top, #6C9A14, #607f25);
    background-image: -ms-linear-gradient(top, #6C9A14, #607f25);
    background-image: -o-linear-gradient(top, #6C9A14, #607f25);
    background-image: linear-gradient(to bottom, #6C9A14, #607f25);
}

.dropDow {
    padding: 2px 2px 2px 2px;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 2px 5px #888888;
    background: url(new_arrow.png) no-repeat right #ddd;
    overflow: hidden;
    font-size: 15px;
}







/*===== ID =====*/

#login{
    float:right;
    padding-right:0%;
    border-right:none;
}






/*===== MEDIA =====*/

/*= DESKTOP =*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), 
        only screen and (max-width:1400px) { /*Om max-bredden på webbläsarfönstret är 1400px, gör nedan.*/
        
        .wrapper{
            max-width:90%;
        }

}


/*= TABLET =*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
       only screen and (max-width:800px){ /*Om max-bredden på webbläsarfönstret är 800px, gör nedan.*/

        .wrapper{
            max-width:98.5%;
        }

        .nav_head{
            padding-bottom:6%;
        }

        .all_contents{
            padding-left:1%;
            padding-right:1%;
            width:98%;
            
        }

        #login{
            padding-right:1%;
        }
        
}


/*= MOBIL =*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
       only screen and (max-width:500px){ /*Om max-bredden på webbläsarfönstret är 500px, gör nedan.*/

    .the_header{
        width:100%;
        font-size:100%;
        text-align:center;
        margin:0 auto;
        padding-left: 0%;
        padding-right: 0%;
        border-bottom: 2px solid grey;
    }

    .header_class{
        float:none;
        padding:0;

    }

    .nav_head{
        padding-bottom:8%;
    }

    a.nav_links{
        font-size:150%;
    }

    #login{
        padding-right:0%;
    }

    .login_h1{
        font-size:180%;
    }
    .login_h2{
        font-size:130%
    }
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
       only screen and (max-width:384px){ /*Om max-bredden på webbläsarfönstret är 384px, gör nedan.*/

    ul.nav_list li{
        display: block;
    }

    a.nav_links{
        padding-right:0%;
        border-right:none;
    }

    .wrapper{
        /*background-color:#E5F0F3;*/
        /*max-width:100%;*/
        margin: 0 auto;
    }

    .top_header{            /*the_header || top_header*/
        color:#384245;
        float:none;
        margin:0 auto;
        padding-left:1%;
        font-size:190%;
    }

    .nav_head{
        text-align:center;
        padding-bottom:5%;
    }

    .ddl{
        float:none;
    }

    #login{
        float:none;
    }
}


/*@media	only screen and (-webkit-min-device-pixel-ratio: 1.3),
	only screen and (-o-min-device-pixel-ratio: 13/10),
	only screen and (min-resolution: 120dpi)/*Min skärm är 96dpi
	{
		body{
            background-color:green;
		}
	}
*/   
